.modal-root {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bcg-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.781); */
  background-color: rgb(0 0 0 / 50%);
}

.modal {
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 20px;
  height: 400px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  padding: 10px;
  gap: 7%;
}

.modal h1 {
  font-size: 30px;
  padding: 0 15px;
  align-self: flex-start;
  text-decoration: underline;
}

.signup,
.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal > button {
  top: 20px;
  right: 20px;
  position: absolute;
}
.signup > form {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.signup > form > button,
.login > form > button {
  all: unset;
  width: 100%;
  height: 30px;
  border: darkblue solid 1px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  align-self: flex-end;
}
.line-separation {
  position: fixed;
  height: 50%;
  width: 2px;
  background-color: rgb(255, 0, 0);
}

.custom-input {
  margin: 15px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.custom-input > label {
  font-weight: bolder;
}

.custom-input > input {
  all: unset;
  width: 230px;
  height: 30px;
  padding: 0 5px;
  border-bottom: darkblue solid 2px;
}

.alert-signup,
.alert-login {
  height: 10px;
  color: red;
  margin-left: 15px;
}
