.comic-box {
  box-shadow: -3px -px red;
  padding: 5% 0;
  height: fit-content;
  width: fit-content;
  /* display: flex; */
  margin: 5%;
  padding: 5%;
  background-color: white;
  border-radius: 20px;
}

.comic-information-box {
  display: flex;
  flex-direction: row;
  gap: 5%;
  height: 30%;
  width: 100%;
}

.comic-information-box > img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.comic-information-text {
  width: 50%;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: first center;
}

.comic-information-text > p {
  font-size: 20px;
  line-height: 28px;
  color: rgb(251, 0, 0);
}
